@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


*{
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
    
}

.header{
    box-sizing: border-box;
    background-color: #5d707f;
    padding-bottom: 10px;
}

#navbar_elements{
    justify-content: center;
    padding: 37px;
    margin: 0px;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    
}
.header-1{
    background-color: white;
    padding-top: 4px;
    height: 77px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none; 
}

.search-form{
    display: flex;
    justify-content: space-between;
    border: 1px solid #5d707f;
    align-items: center;
    width: 20rem;
    padding: 5px 31px;
    border-radius: 6px;
}

.search-form input{
    background-color: inherit;
}

.signInHeader{
    display: flex;
    border: 2px solid gray;
    border-radius: 6px;
    padding: 5px ;
}

.signInHeader input{
    background-color: inherit;
}

.header-1 label:hover{
    color: #5d707f;
}

.header input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: none;
    outline: none;
    width: 100%;
  }

  .headerIcons{
    color: pink;
  }









.navbar2{

    display: flex;
    justify-content: center;
    z-index: 1;
}

ul , li ,a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.menu > li , .menu > a {
    display: inline-block;

}



.menu a{
    display: block;
    padding: 20px 1.5rem;
    background-color: #5d707f;
    
}

.menu a:hover{
    background-color:#5d707f;
}

.menu li {
    position: relative;
}

.submenuOfBooks{
    z-index: 2;
    position: absolute;
    display: none;
}

.submenuOfDepartment{
    position: absolute;
    left: 75%;
    top: 0px;
    display: none;
}

.submenuOfYear{
    position: absolute;
    left: 75%;
    top: 2%;
    display: none;
}

.menu li:hover > .submenuOfBooks {
    display: block;
    animation: slideup .3s ease;
}

.submenuOfBooks :hover > .submenuOfDepartment{
    display: block;
    animation: slideleft 0.3s ease;
}

.submenuOfBooks :hover > .submenuOfYear{
    display: block;
    animation: slideleft 0.3s ease;
}


@keyframes slideup {
    0%  {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideleft {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
    
}
