img{
    width:190px;
    transform: scale(0.8);   
    transition: .5s;
    
    
}
.item{
    
    text-align: center;
    background-color: white;
        width: 300px;
        height: 388px;   
        
}
  

.item img:hover{
    transform: scale(.9);
    transition: .2s;
}
h3{
    color:black;
  margin: 0px;
  padding: 0px; 
}
h4{
    margin:5px;
    padding:10px;
}
.ArrayDAta{
    height: 150vh;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: black; */
    /* margin-left: 10%; */
    /* width: 300px; */
    /* margin-top: 2%; */
    /* overflow: scroll; */
    /* flex-direction: row; */
    flex-wrap: wrap;
    padding: 10px;
}
.AddToCart:hover
{
    background-color: #5d707f;
    border: 1px solid #5d707f;
    border-radius: 4px;
    color: white;
    
    
}